body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f0f3f6;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
}
